<%# Form for YOUR Upcoming Appointments %>
<%# Used in: appointments/new | patients/new %>
<h3>Your Upcoming Appointments</h3>
<hr class="style-two">
<table style="width:100%">
    <tr>
        <th>Patient Name</th>
        <th>Appointment Date/Time</th>
    </tr>

    <% appointments.each do |appointment| %>
        <% if current_user.id == appointment.user_id %>       
            <% if appointment.appointment_date > DateTime.now %>
                <td><p>Patient: <%= link_to "#{appointment.patient.name} (Age:  #{appointment.patient.age.to_s})", appointment.patient %></p></td>
                <td><p>Date/Time: <%= appointment.appointment_date.strftime("%m/%d/%Y %I:%M %p") %> </p></td>
                </tr>
            <% end %>
        <% end %>
    <% end %>
</table>